<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About</h2>
        <hr class="star-light">
      </div>
    </div>
 
    <div class="row">
      <div class="col-lg-3 col-md-6 mb-5 mb-lg-0">
        <span class="service-icon rounded-circle mx-auto mb-3">
          <i class="icon-screen-smartphone"></i>
        </span>
        <h4>
          <strong>Profile</strong>
        </h4>
        <hr>
        <p>이름 : 원유현</p>
        <p>성별 : 남</p>
        <p>생년월일 : 1997.09.20</p>
        <p>Tel : 010-5168-8700</p>
        <p>E_Mail : star5926@naver.com</p>
        <p>MBTI : INTJ</p>
      </div>
      <div class="col-lg-3 col-md-6 mb-5 mb-lg-0">
        <span class="service-icon rounded-circle mx-auto mb-3">
          <i class="icon-pencil"></i>
        </span>
        <h4>
          <strong>Career</strong>
        </h4>
        <hr>
        <p>언북초등학교 졸업</p>
        <p>언주중학교 졸업</p>
        <p>영동고등학교 졸업</p>
        <p>건국대학교 컴퓨터공학과</p>
        <p>정보통신여단 체계관리과 </p>
        <p>남수단재건지원단 정보통신운용정비</p>
      </div>
      <div class="col-lg-3 col-md-6 mb-5 mb-md-0">
        <span class="service-icon rounded-circle mx-auto mb-3">
          <i class="icon-like"></i>
        </span>
        <h4>
          <strong>Interesting</strong>
        </h4>
        <hr>
        <p>취미 : 볼링</p>
        <p>좋아하는 것 : 여행,패션</p>
        <p>싫어하는 것 : 오이 </p>
        <p>장점 : 준비성</p>
        <p>단점 : 무뚝뚝함</p>
      </div>
      <div class="col-lg-3 col-md-6">
        <span class="service-icon rounded-circle mx-auto mb-3">
          <i class="icon-mustache"></i>
        </span>
        <h4>
          <strong>Skill</strong>
        </h4>
        <hr>
        <p>HTML,CSS,JavaScript</p>
        <p>Node.js,Kotlin</p>
        <p>C,JAVA,PYTHON</p>
      </div>
    </div>
    <hr>


  </div>
</section>
